.post-body-container {
    display: flex;
    flex-direction: column;
}

/* ========= post title ========= */
.post-title-container {
    margin: 30px 0px;
    border-bottom: 1px solid #efefef;
    padding: 10px 0px;
}

.post-title-container div {
    margin-bottom: 10px;
}

.post-title-container div:nth-child(1) {
    color: #4fb1e6;
    font-weight: 700;
}

.post-title-container div:nth-child(2) {
    font-weight: 900;
    font-size: 30px;
}
/* ========= post title ========= */


/* ========= post content ========= */
.post-content-container {
    border-bottom: 1px solid #efefef;
    padding: 20px 0px;
    margin: 10px 0px;
}
/* ========= post content ========= */

/* ========= post preview ========= */
.post-preview-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E5E5;
    padding: 10px 13px 5px;
    font-size: 15px;
}

.post-preview-header {
    display: flex;
    justify-content: space-between;
    /* font-size: 12px; */
    border-bottom: 1px solid #E5E5E5;
    padding: 4px 0 10px;
    font-weight: 700;
}

.post-preview-header div:nth-child(2) {
    border-bottom: 1px solid !important;
    font-weight: 500;
    color: rgb(85, 85, 85);
}

.post-preview-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    cursor: pointer;
}

.post-preview-item >div.current {
    border-bottom: 1px solid !important;
}
/* ========= post preview ========= */

.comment-items-container {
    margin: 30px 0px 20px;
    align-self: center;
}