.profile-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  align-items: center;
  margin: 0 auto;
}

.profile-content-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 1200px;
}

.profile-info-plus-container {
  display: flex;
  justify-content: space-between;
}

.profile-info-plus-container > div {
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  padding:10px;
  margin: 3px;
  border:1px solid rgb(102, 60, 218);
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.profile-info-plus-container > div:hover {
  background-color: rgb(102, 60, 218);
  color: #FFFFFF;
  transition: all ease 0.4s 0s;
}
.profile-info-container {
  flex: 1;
  margin-left: 30px;
}

.profile-title {
  background-color: #f3f6fb;
  padding: 40px 30px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 10px;
}

.profile-sub-title {
  margin: 20px 0px 15px;
  font-size: 18px;
  font-weight: 900;
}

.profile-content {
  display: flex;
  flex-direction: row;
  /* align-content: space-between; */
  /* background-color: blue; */
  border-top: 2px solid #c8c7c7;
  border-bottom: 2px solid #c8c7c7;
  padding: 20px 30px;
}

.profile-content > div {
  flex: 1;
}

.profile-content-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.profile-content-award {
  padding-left: 15px;
}

.profile-content-award > div {
  margin-bottom: 10px;
}

.profile-skill-container {
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0px;
  padding: 30px 50px;
  background-color: #f3f6fb;
  text-align: center;
  border-radius: 5px;
}

.profile-skill-title {
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 20px;
  border-bottom: 2px solid #c8c7c7;
}

.profile-skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 500px;
  margin-top: 20px;
}

.profile-skill-list > div {
  box-sizing: border-box;
  background-color: rgba(0, 0, 255, 0.034);
  margin: 10px;
  min-width: 200px;
  min-height: 200px;
}

.profile-skill-list > div:hover .skill-modify > div {
  display: block;
}

.profile-skill-list > div:hover .skill-img{
  transition: all ease 0.4s 0s;
  opacity: 0.1;
}

.skill-modify {
  position: absolute;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 200px;
  box-sizing: border-box;
}

.skill-modify > div {
  display: none;
  flex: 1;
  box-sizing: border-box;
  background-color: rgb(66, 66, 66);
  color: white;
  padding: 30px 20px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  z-index: 1000;
}

.skill-modify > div:nth-child(1) {
  background-color: rgb(37, 135, 228);
}

.skill-img {
  display: flex;
  background-color: rgba(124, 124, 240, 0.171);
  width: 200px;
  height:200px;
}

.skill-img > img{
  width:100%;
}

.skill-sub-title {
  font-weight: 700;
  line-height: 30px;
}

.profile-project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 500px;
  width: 1200px;
  margin-top: 20px;
  box-sizing: border-box;
}

.profile-project-list > div {
  flex: 1;
  min-width: 500px;
  min-height: 500px;
  max-width: 600px;
  text-align: center;
}

.project-title {
  font-size: 18px;
  font-weight: 900;
}

.project-container {
  background-color: #f3f6fb;
  text-align: left;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  font-weight: 700;
}

.project-container > div {
  margin: 6px 0px;
}

.project-img > a > img {
  width: 100%;
}

.project-period,
.project-content {
  padding: 10px 0px;
}

.profile-content-edit {
  padding: 0 5px;
}

.profile-content-edit > img {
  width: 17px;
  position: relative;
  top: 4px;
  cursor: pointer;
}

.project-type-wrapper {
  display: flex;
  justify-content: space-between;
}

.project-modify > span {
  margin-left: 3px;
  display: inline-block;
}

.circleWrapper {
  margin: 0 auto;
}

.circleWrapper > img {
  padding:3px;
  border-radius: 50px;
  width: 14px;
  background-color: rgb(204, 221, 252);
}