@import './base/_reset';

html,
body {
  font-family: NanumSquare_acRegular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /* font-size: $typography-paragraph2; */
  line-height: 1.3;
  letter-spacing: -0.3px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* /* background-color: $background; */
  -ms-overflow-style: scrollbar;
}

@font-face { font-family: 'NanumSquare_acBold'; src: url(./fonts/NanumSquare_acBold.ttf) format('truetype'); }
@font-face { font-family: 'NanumSquare_acExtraBold'; src: url(./fonts/NanumSquare_acExtraBold.ttf) format('truetype'); }
@font-face { font-family: 'NanumSquare_acLight'; src: url(./fonts/NanumSquare_acLight.ttf) format('truetype'); }
@font-face { font-family: 'NanumSquare_acRegular'; src: url(./fonts/NanumSquare_acRegular.ttf) format('truetype'); }