.edit-skill-container {
    display: flex;
    flex-direction: column;
    width:400px;
    height:550px;
    align-items: center;
    justify-content: center;
}

.edit-skill-image-container {
    background-color: rgb(243, 243, 243);
    /* width:'100%'; */
    flex:0.8;
    width: 100%;
    height: 330px;

    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-skill-image-container > img{
    width:100%;
    height: 100%;
}

.edit-skill-container .edit-input {
    box-sizing: border-box;
    width: 100%;
}

.edit-skill-container .normal-button {
    margin-top: 10px;
}